.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarRow:hover {
    background-color: #464747;
    border-radius: 10px;
    transition: all 500ms;
}

.sidebarRow > h4{
    margin-left: 20px;
    font-weight: 600;
}

.sidebarRow > .MuiSvgIcon-root {
    font-size: xx-large;
    color: #2e81f4;
}

.sidebar--buttom {
    background-color: #464747;
    margin-left: 10px;
}

.MuiIconButton-root{
    color: #b8bbbf;  
}

.sidebar--buttom:hover {
    background-color: #464747;
    opacity: 0.7;
}